
.Hero {
    gap: 100px;
}

.HeroPageIcon {
    transition: all 0.3s ease;
}

.HeroPageIcon:hover {
    border-color: #9D4EDD;
}

.HeroPageIcon > p {
    transition: all 0.3s ease;
    cursor: pointer;
}

.HeroPageIcon > p:hover {
    color: #9D4EDD;
}

@media (max-width: 1280px) {
    .HeroTitle {
        font-size: 56px;
    }
    .HeroAfterTitleText {
        font-size: 24px;
    }
}