
.About {
    padding: 65px 92px 25px 92px;
    padding: calc(36 * (100vw / 1440)) calc(92 * (100vw / 1440)) calc(25 * (100vw / 1440)) calc(92 * (100vw / 1440));
}

.AboutInfoBlock {
    width: 660px;
    width: calc(660 * (100vw / 1440));
}

.AboutInfoBlockTitle {
    font-family: sans-serif, 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    font-size: calc(36 * (100vw / 1440));
    line-height: 54px;
    line-height: calc(54 * (100vw / 1440));

    color: #000000;

    width: 100%;
    
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 15px;
}

.AboutInfoBlockTextElement {
    font-family: sans-serif, 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    font-size: calc(24 * (100vw / 1440));
    line-height: 36px;
    line-height: calc(36 * (100vw / 1440));

    color: #000000;

    width: 100%;

    margin-bottom: 15px;
}

.AboutInfoBlockList li {
    font-family: sans-serif, 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    font-size: calc(24 * (100vw / 1440));
    line-height: 36px;
    line-height: calc(36 * (100vw / 1440));

    display: flex;
    align-items: center;

    gap: 10px;

    width: 100%;
}

.AboutInfoBlockList {
    margin-bottom: 15px;
}